
/* *{
    margin: 0;
} */
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background: rgb(190,224,230);
    background: linear-gradient(158deg, rgba(190,224,230,1) 19%, rgba(236,247,114,1) 50%, rgba(255,185,229,1) 95%);
}

.flex{
    display: flex;
}
.body1{
    flex-direction: column;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

.align-center{
    align-items: center;
}

.column{
    flex-direction: column;
}

.header-text{
    margin-right: -150px;
    align-items: center;
    text-align: center;
    width: 300px;
    justify-content: center;
    color: #fbfea4;
    font-size: 17px;
}

.header-text1{
    width: 60%;
    text-align: center;
    font-family: poppins, sans-serif;
    color: #f5f94b;
    font-weight: bold;
    text-shadow: #c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px, rgb(140 140 140 / 50%) 0px 4px 0px, #787878 0px 0px 0px, rgb(0 0 0 / 50%) 0px 5px 10px;
}

.header-text2{
    width: 60%;
    text-align: center;
    color: #f5f94b;
    font-size: 10px;
    text-shadow: #c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px, rgb(140 140 140 / 50%) 0px 4px 0px, #787878 0px 0px 0px, rgb(0 0 0 / 50%) 0px 5px 10px;
}

/* nav{
    width: 80%;
} */

.header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    background-color: #a6d2ba;
    height: 120px;
    justify-content: center;
}

ul{
    list-style: none;
}

.ul{
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.li{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 16px;
    font-size: 19px;
}

.nav{
    width: auto;
    font-size: 20px;
}

li a{
    width: 150px;
    color: #fbfea4;
    font-family: 'Patrick Hand', cursive;
    margin-left: -10px;
}

a{
    text-decoration: none;
}

#panier{
    border: hidden;
}

.svg-test {
    font-size: 80px;
    height: 35px;
}

.texte-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #fbff46;
}

.titre1{
    color: #008afc;
    margin: 0;
    font-size: 17px;
    text-align: center;
}

.img-main{
    position: relative;
    left: 20%;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b5d77e;
}

footer li{
    margin: 10px;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.list-res{
    display: flex;
    position: absolute;
    right: 100px;
}

footer img{
    width: 180%;
}

@media screen and (max-width: 936px){
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
    }
    .header-text{
        margin-left: -100px;
        margin-top: 10px;
    }

    .ul{
        flex-direction: column;
    }
    nav ul li{
        margin: 10px;
    }
}